.com{
    max-width: 35%;
    position:relative;
    left: 35%;
    margin-top: 20px;
    border: 1px solid ;
    padding: 15px 30px;
    background-color: white;
    box-shadow: 2px 2px 6px ;
    border-radius: 5px;
}
.com h3{
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
}
input{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 10px 10px;
    width: 100%;
    border-radius: 6px;
}
textarea{
    width: 100%;
    padding: 5px 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 6px;
}
#btn{
    padding:12px;
    background:#1a73e8;
    border:none;
    font-size: 15px;
    border-color: white;
    border-radius: 4px;
    color: white;
}
#btn:hover{
    background:#1558b0;
    cursor: pointer;
}
  input:focus{
    outline: none;
    border-color: #1a73e8;
  }
  textarea:focus{
    outline: none;
    border-color: #1a73e8;
  }
  @media (max-width:790px){
    .com{
        transition: 3s;
        max-width: 50%;
        position:relative;
        left: 27%;
    }
    .com h3{
        transition: 3s;
        font-size: 20px;
    }
    label{
        transition: 3s;
        font-size: 13px;
    }
  }
@media (max-width:607px){
    .com{
        transition: 3s;
        max-width: 65%;
        padding: 10px 20px;
        position:relative;
        left: 18%;
    }
    input,textarea{
        transition: 3s;
        margin-bottom: 5px;
    }
    .com h3{
        transition: 3s;
        font-size: 17px;
    }
    #btn{
        transition: 3s;
        font-size:12px;
    }
    span{
        transition: 2s;
        font-size: 12px;
        margin-bottom: 5px;
    }
  }
  @media (max-width:495px){
    .com h3{
        transition: 3s;
        font-size: 14px;

    }
    #btn{
        transition: 3s;
        font-size:9px;
    }
    label{
        transition: 3s;
        font-size: 12px;
    }
  }
  